.youtube-header{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: roboto,sans-serif;
    border-color: rgb(202, 202, 202);
    border-style:solid;
    border-width: 1px;
    background-color: white;
    border-color: rgb(203, 201, 201);
    border-radius: 2px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
   
}
.right-sec{
   min-width: 190px;
    margin-right: 40px;
    

}
.center-sec{
   display: flex;
   flex-direction: row;

flex: 1;
max-width: 700px ;

}

.bar{
    width: 25px;
    height: 25px;
    margin-left: 31px;
    cursor: pointer;
}
.logo{
    width: 90px;
    height: 25px;
    margin-left: 40px;

    @media (max-width: 200px)
    {
      .logo{
         width: 100%;
         height: auto;
      }
    }
    
   
}
.search{
   
  flex: 1;
  height: 33px;
  border-color: rgb(202, 202, 202);
  border-style:solid;
  border-width: 1px;
  background-color: white;
  border-color: rgb(203, 201, 201);
  border-radius: 2px;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.15);  
  padding-left: 10px;
  outline: none;
  margin-left: 150px;
  cursor: text;

}

.search::placeholder{
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;

}
.search:focus{
 border-color: blue; 
}
.glass{
   height: 30px;
   width: 50px;
   cursor: pointer;
   
}
.button-glass{
   border-color: rgb(202, 202, 202);
   border-style:solid;
   border-width: 1px;
   background-color: rgb(248, 247, 247);
   border-color: rgb(203, 201, 201);
   border-radius: 2px;
   margin-left: -2px;
}
.button-glass:active{
    background-color: rgb(234, 233, 233);
    transition: background-color 0.1s , color 0.1s;
}
 .button-mic{
    width: 39px;
    height: 40px;
    margin-left: 10px;
    align-items: center;
    border-radius:50%;
    border-width: 1px;
    background-color: rgb(248, 247, 247);
   border-color: rgb(203, 201, 201);
   border-style: none;
   cursor: pointer;

 }
 .mic{
    width: 25px;
    height: 25px;
    align-self: center;    
 }
 .left-sec{
    margin-left: 250px;
    margin-right: 20px;
    min-width: 200px;
    display: inline-flex;

    
 }
 .upload{
    height: 28px;
    width: 28px;
    cursor: pointer;
 }
 .apps{
    height: 25px;
    width: 25px;
    margin-left: 18px ;
    margin-bottom: 2px;
    cursor: pointer;
 }
 .notifications{
    height: 25px;
    width: 25px;
    margin-left: 18px;
    margin-bottom: 2px;
    cursor: pointer;
  
 }
.notifications-button{
   position:relative;
   background-color: rgb(255, 255, 255);
   border: none;
   cursor: pointer;
}
.tooltip {
   position: absolute;
   color: rgb(255, 255, 255);
   font-size: 10px;
   padding: 8px;
   font-family:sans-serif;
   background-color: rgb(122, 120, 120);
   opacity: 0; 
   z-index: 123;
   pointer-events: none;
   margin-left: 2px;
   margin-bottom: 50px;
   

   
}

.notifications-button:hover .tooltip {
  opacity: 1;
  visibility: visible;
 
}


 .profile{
    height: 28px;
    width: 28px;
    margin-left: 18px;
    margin-bottom: 2px;
    border-radius: 50%;
    cursor: pointer;
 }

 .sidebar{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: fixed;
   background-color: rgb(255, 255, 255);
   width: 80px;
   z-index: 100;
   left:0;
   bottom: 0;
   top: 0;
   margin-top: 50px;
    }
 .sidebar-home{
   width: 30px;
   padding: 20px;
 }
 .sidebar-home:hover{
   background-color: rgb(245, 241, 241);
 }